/.ipynb_checkpoints/
.idea/
/dictionary_and_semantic_hierarchy.txt
/categories_places365.txt
/demo_img.png
/astronaut_with_beer.jpg
/monkey_with_gun.jpg
/English-Morph.txt
/fruit_bowl.jpg
/__pycache__/
/annotations/captions_train2014.json
/annotations/captions_val2014.json
/captions_val2014_fakecap_results.json
/annotations/instances_train2014.json
/annotations/instances_val2014.json
/annotations/person_keypoints_train2014.json
/annotations/person_keypoints_val2014.json
/captions_val2014.json
/coco_eval_example.py
/scripts/coco_evaluation.py
/scripts/quantitative_evaluation_local.py
/annotations/
/test.py
/object_feats.npy
/object_texts.txt
/place_feats.npy
/place_texts.txt
/res.txt
/imgs/
/cache/
/environment.yml
/eval_cap.pickle
/cache/res.pickle
/cute_bear.jpg
/val2017.zip
/imgs/
/cute_bear.jpg
/test.py
/place_texts.txt
/object_texts.txt
/environment.yml
/coco_eval_example.py
/captions_val2014.json
/dl2_gpu.yml
/eval_cap.pickle
/res.pickle
/cache/
/annotations/
/improved_outputs.csv
/baseline_outputs.csv
/scripts/test.py
/data/
/scripts/__pycache__/
/scripts/baseline_outputs.csv
/scripts/bert.py
/scripts/improved_outputs.csv
/notebooks/000000335177.jpg
