/.ipynb_checkpoints/
.idea/
/dictionary_and_semantic_hierarchy.txt
/categories_places365.txt
/demo_img.png
/astronaut_with_beer.jpg
/monkey_with_gun.jpg
/English-Morph.txt
/fruit_bowl.jpg
/__pycache__/
/annotations/captions_train2014.json
/annotations/captions_val2014.json
/captions_val2014_fakecap_results.json
/annotations/instances_train2014.json
/annotations/instances_val2014.json
/annotations/person_keypoints_train2014.json
/annotations/person_keypoints_val2014.json
/captions_val2014.json
/coco_eval_example.py
/scripts/coco_evaluation.py
/scripts/quantitative_evaluation_local.py
/annotations/
/test.py
/object_emb.npy
/object_texts.txt
/place_emb.npy
/place_texts.txt
/res.txt
/imgs/
/cache/
/environment.yml
/eval_cap.pickle
/cache/res.pickle
/cute_bear.jpg
/val2017.zip
/dl2_gpu.yml
/res.pickle
/improved_outputs.csv
/baseline_outputs.csv
/scripts/test.py
/data/
/scripts/__pycache__/
/notebooks/.ipynb_checkpoints/coco_captioning_baseline-checkpoint.ipynb
/scripts/image_captioning_lisa.py
/scripts/coco_captioning_improved_lisa.py
/scripts/utils_lisa.py
/scripts/coco_captioning_baseline_lisa.py
/scripts/coco_image_embedding_generation_lisa.py
/scripts/coco_evaluation_lisa.py
/scripts/coco_evalutation2_lisa.py
/scripts/bert.py