/.ipynb_checkpoints/
.idea/
/dictionary_and_semantic_hierarchy.txt
/categories_places365.txt
/demo_img.png
/astronaut_with_beer.jpg
/monkey_with_gun.jpg
/English-Morph.txt
/fruit_bowl.jpg
/__pycache__/
/annotations/captions_train2014.json
/annotations/captions_val2014.json
/captions_val2014_fakecap_results.json
/annotations/instances_train2014.json
/annotations/instances_val2014.json
/annotations/person_keypoints_train2014.json
/annotations/person_keypoints_val2014.json
/captions_val2014.json
/coco_eval_example.py
/local_eval.py
/Quantitative_evaluation_local.py
/annotations/
